In [1]:
import pandas as pd

In [ ]:
dff=pd.read_csv('test.csv')

In [ ]:
dff

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
dff.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [8]:
df['Item_Weight'].fillna(round(df['Item_Weight'].mean()),inplace=True)
d=df.drop(['Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Establishment_Year','Outlet_Size'],axis=1)

In [9]:
d

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,0.016047,249.8092,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,0.019278,48.2692,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,0.016760,141.6180,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,0.000000,182.0950,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,0.000000,53.8614,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...
8518,FDF22,6.865,0.056783,214.5218,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,0.046982,108.1570,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,0.035186,85.1224,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,0.145221,103.1332,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,0.044878,75.4670,Tier 1,Supermarket Type1,765.6700

In [10]:
d['Item_Weight'].isnull().sum()

0

In [11]:
d.isnull().sum()

Item_Identifier         0
Item_Weight             0
Item_Visibility         0
Item_MRP                0
Outlet_Location_Type    0
Outlet_Type             0
Item_Outlet_Sales       0
dtype: int64

In [12]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [13]:
le=LabelEncoder()

In [14]:
d['Outlet_Type']=le.fit_transform(d['Outlet_Type'])
d['Outlet_Location_Type']=le.fit_transform(d['Outlet_Location_Type'])
d['Item_Identifier']=le.fit_transform(d['Item_Identifier'])

In [15]:
d

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.300,0.016047,249.8092,0,1,3735.1380
1,8,5.920,0.019278,48.2692,2,2,443.4228
2,662,17.500,0.016760,141.6180,0,1,2097.2700
3,1121,19.200,0.000000,182.0950,2,0,732.3800
4,1297,8.930,0.000000,53.8614,2,1,994.7052
...,...,...,...,...,...,...,...
8518,370,6.865,0.056783,214.5218,2,1,2778.3834
8519,897,8.380,0.046982,108.1570,1,1,549.2850
8520,1357,10.600,0.035186,85.1224,1,1,1193.1136
8521,681,7.210,0.145221,103.1332,2,2,1845.5976
8522,50,14.800,0.044878,75.4670,0,1,765.6700

In [16]:
d['Outlet_Location_Type'].value_counts()

2    3350
1    2785
0    2388
Name: Outlet_Location_Type, dtype: int64

In [17]:
d['Outlet_Type'].value_counts()

1    5577
0    1083
3     935
2     928
Name: Outlet_Type, dtype: int64

In [18]:
d

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.300,0.016047,249.8092,0,1,3735.1380
1,8,5.920,0.019278,48.2692,2,2,443.4228
2,662,17.500,0.016760,141.6180,0,1,2097.2700
3,1121,19.200,0.000000,182.0950,2,0,732.3800
4,1297,8.930,0.000000,53.8614,2,1,994.7052
...,...,...,...,...,...,...,...
8518,370,6.865,0.056783,214.5218,2,1,2778.3834
8519,897,8.380,0.046982,108.1570,1,1,549.2850
8520,1357,10.600,0.035186,85.1224,1,1,1193.1136
8521,681,7.210,0.145221,103.1332,2,2,1845.5976
8522,50,14.800,0.044878,75.4670,0,1,765.6700

In [19]:
d.isnull().sum()

Item_Identifier         0
Item_Weight             0
Item_Visibility         0
Item_MRP                0
Outlet_Location_Type    0
Outlet_Type             0
Item_Outlet_Sales       0
dtype: int64

In [20]:
d

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.300,0.016047,249.8092,0,1,3735.1380
1,8,5.920,0.019278,48.2692,2,2,443.4228
2,662,17.500,0.016760,141.6180,0,1,2097.2700
3,1121,19.200,0.000000,182.0950,2,0,732.3800
4,1297,8.930,0.000000,53.8614,2,1,994.7052
...,...,...,...,...,...,...,...
8518,370,6.865,0.056783,214.5218,2,1,2778.3834
8519,897,8.380,0.046982,108.1570,1,1,549.2850
8520,1357,10.600,0.035186,85.1224,1,1,1193.1136
8521,681,7.210,0.145221,103.1332,2,2,1845.5976
8522,50,14.800,0.044878,75.4670,0,1,765.6700

In [21]:
X=d.drop(columns='Item_Outlet_Sales',axis=1)

In [22]:
print(X)

      Item_Identifier  Item_Weight  Item_Visibility  Item_MRP  \
0                 156        9.300         0.016047  249.8092
1                   8        5.920         0.019278   48.2692
2                 662       17.500         0.016760  141.6180
3                1121       19.200         0.000000  182.0950
4                1297        8.930         0.000000   53.8614
...               ...          ...              ...       ...
8518              370        6.865         0.056783  214.5218
8519              897        8.380         0.046982  108.1570
8520             1357       10.600         0.035186   85.1224
8521              681        7.210         0.145221  103.1332
8522               50       14.800         0.044878   75.4670

      Outlet_Location_Type  Outlet_Type
0                        0            1
1                        2            2
2                        0            1
3                        2            0
4                        2            1
...                    ...          ...
8518                     2            1
8519                     1            1
8520                     1            1
8521                     2            2
8522                     0            1

[8523 rows x 6 columns]

In [23]:
Y=d['Item_Outlet_Sales']

In [24]:
print(Y)

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=5)

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
lr=LinearRegression()

In [29]:
lr.fit(X_train,Y_train)

LinearRegression()

In [30]:
from sklearn import metrics

In [31]:
z1=lr.predict(X_train)

In [32]:
r_train=metrics.r2_score(Y_train,z1)

In [33]:
r_train

0.5020872989400716

In [34]:
z=lr.predict(X_test)

In [35]:
r_test=metrics.r2_score(Y_test,z)

In [36]:
r_test

0.49321735784979515

In [37]:
pd.DataFrame(d,columns=['Item_Outlet_Sales']).to_csv('Linearreg.csv')

In [38]:
from sklearn.ensemble import RandomForestRegressor

In [39]:
rfr=RandomForestRegressor()

In [40]:
rfr.fit(X_train,Y_train)

RandomForestRegressor()

In [41]:
z3=rfr.predict(X_train)

In [42]:
r_train=metrics.r2_score(Y_train,z3)

In [43]:
r_train     # overfitting model

0.9364518810284848

In [44]:
z4=rfr.predict(X_test)

In [45]:
r_test=metrics.r2_score(Y_test,z4)

In [46]:
r_test

0.5202573988469187

In [47]:
import pickle # this model is for saving the algorithm model and arranging and storing in fileformatt

In [88]:
filename='savvmodel.sav'

In [89]:
pickle.dump(lr,open(filename,'wb'))

In [90]:
X_test.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Location_Type,Outlet_Type
2095,270,10.895,0.009614,122.9730,2,1
3271,988,16.700,0.071335,120.3782,2,0
5055,1356,18.600,0.118180,56.2588,0,1
8307,1514,20.200,0.066066,61.3510,1,1
1923,548,5.785,0.040325,180.4660,2,1

In [91]:
load_model=pickle.load(open(filename,'rb'))

In [92]:
load_model.predict([[1500,100,0.2,1000,2,2]])

array([15586.98438007])

In [79]:
filename='davvmiodel.sav'

In [80]:
pickle.dump(rfr,open(filename,'wb'))

In [81]:
load_model=pickle.load(open(filename,'rb'))

In [82]:
load_model.predict([[1900,100,0.22,500,2,1]])

array([5078.629188])

In [59]:
import pandas as pd
import numpy as np

In [60]:
X=pd.read_csv('Train.csv')
Y=pd.read_csv('test.csv')

In [61]:
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [62]:
Y

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [63]:
X.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [65]:
Y.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [1]:
import pandas as pd    # BIGMART SALES PREDICTION
import numpy as np

In [68]:
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [69]:
d

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.300,0.016047,249.8092,0,1,3735.1380
1,8,5.920,0.019278,48.2692,2,2,443.4228
2,662,17.500,0.016760,141.6180,0,1,2097.2700
3,1121,19.200,0.000000,182.0950,2,0,732.3800
4,1297,8.930,0.000000,53.8614,2,1,994.7052
...,...,...,...,...,...,...,...
8518,370,6.865,0.056783,214.5218,2,1,2778.3834
8519,897,8.380,0.046982,108.1570,1,1,549.2850
8520,1357,10.600,0.035186,85.1224,1,1,1193.1136
8521,681,7.210,0.145221,103.1332,2,2,1845.5976
8522,50,14.800,0.044878,75.4670,0,1,765.6700

In [84]:
data={'Item_Identifier':1500,'Item_Weight':100,'Item_Visibility':0.2,'Item_MRP':1000,'Outlet_Location_Type':2,'Outlet_Type':2}
index=[8523]
new_ps=pd.DataFrame(data,index)
(new_ps)

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Location_Type,Outlet_Type
8523,1500,100,0.2,1000,2,2

In [110]:
value_prdct=lr.predict(new_ps)
value_prdct

array([15586.98438007])

In [93]:
value_prdct=rfr.predict(new_ps)
print(value_prdct)

[4901.865946]